body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1E90FF;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 3em;
    
}

.Products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    max-width: 8500px; 
    margin: 0 auto;
}

.Producto {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0em;
    padding: 1em;
    width: calc(33% - 2em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.Producto:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.Producto img {
    width: 100px;
    height: auto;
    margin-right: 1em;
    border-radius: 4px; 
}

.informacion {
    flex: 1;
}

.agregar-carrito {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px; 
}

.agregar-carrito:hover {
    background-color: #218838;
}

.footer {
  display: center;
  justify-content: space-around;
}

.cart {
    position: absolute;
    top: 10px;
    right: 20px;
}

#cart-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

#cart-button:hover {
    background-color: #ff4c3b;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 8px;
}

#cart-total {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.product button {
    background-color: #12cf3b;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-details {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.cart-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}